clip==1.0
cn_clip==1.5.1
importlib_metadata==6.0.0
langdetect==1.0.9
matplotlib~=3.10.8
numpy~=2.4.4
opencv_python==4.7.0.68
pandas~=3.0.2
Pillow==9.5.0
scikit_learn==1.0.2
seaborn==0.12.2
torch==2.0.0
torchtext==0.15.2
torchvision==0.15.0
tqdm==4.64.1
transformers==4.25.1
scikit-learn~=1.8.0
spacy~=3.8.14